<%= form_with(model: shape, local: true) do |form| %>
  <% if shape.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shape.errors.count, "error") %> prohibited this shape from being saved:</h2>

      <ul>
        <% shape.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container col-6 mt-5">
    <div class="card">
      <div class="card-body">
          <div class="field">
            <%= form.label :name %>
            <%= form.text_field :name %>
          </div>
          <div class="field">
            <%= form.label :description %>
            <%= form.text_field :description %>
          </div>
          <div class="field">
          <%= form.label :color %>
          <%= form.text_field :color %>
        </div>
          <div class="field">
            <%= form.label :default_status %>
            <%= form.check_box :default_status %>
          </div>

          <div class="field">
            <%= form.label :link %>
            <%= form.text_field :link %>
          </div>
          <div class="field">
            <%= form.label :icon %>
            <%= form.text_field :icon %>
          </div>
          <div class="text-muted mt-3">
            <div class="actions">
              <%= form.submit nil, class: 'btn btn-success'%>
            </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
