<p id="notice"><%= notice %></p>

<div class="card-footer text-muted text-center">
  <%= link_to new_shape_path, class: "btn btn-success", style: "text-decoration: none" do %>
    New Shape
  <% end %>
</div>

<% @shapes.each do |shape| %>
  <div class="container col-10">
    <div class="card text-left mt-5 mb-5">
      <div class="card-header">
        Created at <%= shape.created_at.strftime("%B %d, %Y") %>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col text-left">
            <%= shape.name %>
          </div>
          <div class="col text-left">
            <%= shape.description %>
          </div>
          <div class="col text-left">
            <%= shape.color %>
          </div>
          <div class="col text-left">
            <%= shape.human_boolean(shape.default_status) %>
          </div>
          <div class="col text-left">
            <%= shape.icon %>
          </div>
          <div class="col-3 text-right">
            <%= link_to edit_shape_path(shape), class: "btn btn-primary", style: "text-decoration: none" do %>
              Edit
            <% end %>
            <%= link_to shape, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", style: "text-decoration: none" do %>
              Delete
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
