<nav class="navbar navbar-light" style="background-color: #563d7c">
  <%= link_to "Shapes 108", root_path, class: "navbar-brand font-weight-bold text-light", style: "text-decoration: none" %>
  <ul class="nav">
    <% if user_signed_in? %>
      <li class="nav-item mr-1">
        <button type="button" class="btn btn-outline-success">
          <%= link_to "My Apps", launchpad_path(@current_launchpad), class: "text-white", style: "text-decoration: none" %>
        </button>
      </li>
      <!-- Button trigger modal -->
      <li class="nav-item mr-1">
        <button type="button" class="btn btn-default navbar-btn">
          <div class="text-light" style="text-decoration: none" data-toggle="modal" data-target="#appModal"%>
            <i class="fa fa-plus-square" aria-hidden="true"></i> Add App
          </div>
        </button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-default navbar-btn">
          <%= link_to "Admin", shapes_path, class: "text-warning", style: "text-decoration: none" %>
        </button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-default navbar-btn">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "text-light", style: "text-decoration: none" %>
        </button>
      </li>
    <% else %>
      <li class="nav-item">
        <button type="button" class="btn btn-default navbar-btn">
          <%= link_to "Log In", new_user_session_path, method: :get, class: "text-light", style: "text-decoration: none" %>
        </button>
      </li>
    <% end %>
  </ul>
</nav>

<%= render "shared/shape_modal" %>
