<!-- Modal -->
<div class="modal fade" id="appModal" tabindex="-1" role="dialog" aria-labelledby="appModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="appModalLabel">Available Applications</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container mt-3">
          <div class="row">
            <% added_shapes = ShapeUser.pluck(:shape_id) %>
            <% Shape.where.not(id: added_shapes).all.each do |shape| %>
              <div class="col-3 mt-3" align="center">
                <div class="card" style="width: 16rem;height: 16rem;">
                  <div class="card-body">
                    <h6 class="card-title text-center"><%= shape.name %></h6>
                    <div class="mb-3 mt-3 text-muted text-center">
                      <i class="fa fa-<%= shape.icon %> fa-3x" style="color:<%= shape.color %>" aria-hidden="true"></i>
                    </div>
                    <p class="card-text" style="font-size: 14px"><%= shape.description %></p>
                  </div>
                  <div class="card-footer text-center">
                    <div class="row">
                      <div class="col-8">
                        <%= link_to "#{shape.link}", class:"text-muted", style: "text-decoration: none;font-size: 15px" do %>
                          Launch full shape
                        <% end %>
                        </a>
                      </div>
                      <%= link_to shape_user_add_path(:id => shape.id), class:"col-4 text-primary", style: "text-decoration: none" do %>
                        <button type="button" class="btn btn-primary btn-sm">Add</button>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
